* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.logo{
  border-radius: 54px;
  
}
input {
  display: none;
}
.container {
  width: 100%;
  text-align: center;
  margin-top: 10vh;
}
h1 {
  font-weight: normal;
  color:red;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  position: relative;
  margin: 40px 0;
  border: 3px solid rgb(77, 76, 76);
  border-radius: 54px;
  font-style: italic;;
  background-color:#333;
}
h1::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: red;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 7s linear infinite;
}
@keyframes animate {
  0% {
    width: 100px;
  }
  50% {
    width: 300px;
  }
  100% {
    width: 100px;
  }
}
.cont {
  background-color: white;
  width: 90%;
  margin: 0 auto 20px auto;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 3px lightgray;
  
}
h3 {
  height: 100%;
  background-color: rgb(221, 221, 221);
  line-height: 60px;
  padding: 0 50px;
  color: blue;
}
label {
  display: inline-block;
  height: 100%;
  margin: 0 20px;
  line-height: 60px;
  font-size: 18px;
  color: gray;
  cursor: pointer;
  transition: 0.5s;
}
label:hover {
  color: blue;
}
.photo-gallery {
  width: 90%;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.pic {
  position: relative;
  height: 230px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgb(61, 60, 60);
  cursor: pointer;
  transition: 0.5s;
  
}
#check1:checked ~ .container .photo-gallery .pic,
#check2:checked ~ .container .photo-gallery .place{
  opacity: 1;
  transform: scale(1);
  position: relative;
  transition: 0.5s;
}
#check2:checked ~ .container .photo-gallery .beach,
#check2:checked ~ .container .photo-gallery .place{
  transform: scale(1);
  opacity: 1;
  position: relative;
}
#check2:checked ~ .container .photo-gallery .natural,
#check2:checked ~ .container .photo-gallery .place {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  transition: 0s;
}

#check3:checked ~ .container .photo-gallery .natural,
#check2:checked ~ .container .photo-gallery .place {
  transform: scale(1);
  opacity: 1;
  position: relative;
}
#check3:checked ~ .container .photo-gallery .beach,
#check3:checked ~ .container .photo-gallery .place {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  transition: 0s;
}



/* Footer Styles */
.footer {
  width: 21vw;
  height: 1vh;
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: right;
  text-align: initial;
  margin-top: 15%;
}
.pageEditor a,
.pageEditor a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 1s ease;
}

.pageEditor a:hover {
  color: #ff6565;
}
.pageEditor a span {
  border-left: 3px solid #ff6565;
  padding-left: 8px;
}


