* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
}

h1 {
    font-size: 3.4rem;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    padding-top: 10px;
}

.header {
    background-color: #1c4801;
    width: 50%;
    height: 70px;
    border-radius: 10px;
    margin-top: 50px;
    opacity: 0.7;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    height: 270px;
    width: 270px;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container .card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
}

.container .card .content .imgBox {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}

.container .card .content .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content .contentBox h3 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .card .content .contentBox h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.container .card .sci {
    position: absolute;
    bottom: 0;
    display: inline;
    text-align: center;
}

.container .card .sci li {
    list-style: none;
    margin: 10px;
    transform: translateY(-100px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s);
}

.container .card:hover .sci li {
    transform: translateY(0);
    opacity: 1;
}

.container .card .sci li p {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}


/* Footer Styles */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    background-color: #ecf5ff;
    opacity: 0.75;
    position: fixed;
}

.deve a,
.deve a:visited {
    text-decoration: none;
    color: #56a5eb;
    transition: all 1s ease;
    font-size: 20px;
    align-items: center;
}

.deve a:hover {
    color: #ff6565;
}

.deve a span {
    border-left: 3px solid #ff6565;
    padding-left: 5px;
    color: black;
}

.deve {
    font-size: 15px;
    text-align: center;
}